.container {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.settings {
  position: absolute;
  margin: 8px;
}

.ticker {
  height: 100px;
  line-height: 100px;
  letter-spacing: 0.05em;
  width: 30%;
}
